@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Young Serif';
  src: url('path/to/youngserif-regular.woff2') format('woff2'),
       url('path/to/youngserif-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'Young Serif', serif;
    background-color: #dedee3;
    height : 100vh;
}


hr{
    display:block;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), 
    color-stop(50%, #000000));
    height: 3px;
    border: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .sidebar {
    border: 5px solid #ccc;
    padding: 1rem;
    width: fit-content;
    border-color: #000000;
    border-radius: 5px;
    background-color: #B8B8B8;
  }
  