@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    font-family: 'Anton', sans-serif;
    background-color: #dedee3;
    height : 100vh;
}


hr{
    display:block;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), 
    color-stop(50%, #000000));
    height: 3px;
    border: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  